/* Add any global styles here */
body {
    font-family: 'Arial', sans-serif;
  }
  
  /* Styling for the login component */
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  mat-card {
    width: 400px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 15px;
  }
  
  button {
    margin-top: 10px;
  }
  
  a {
    margin-top: 10px;
    text-decoration: none;
    display: block;
  }
  